.nav-nav {

    left: 0px;
    top: 0px;
    background-color: #0466C8;
    font-size: 24px;
    color: #fff;
  }
  
.nav-large {
    max-width: 200px;
}

.btn, a.nav-link {
  color:#fff;
  font-size: 20px;
}

a.nav-link:hover, .btn-clr:hover {
  color: #001845;
}

a.nav-link.active{
  color: #fff;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  justify-content: flex-end;
}

.nav-item {
  display: flex;
  align-items: center;
}

.menu-icon {
  display: none;
}

.fa-bars {
  color: #0466C8;
  text-align: center;
  padding-top: 7.3px;
  font-size: 23px;
}

.fa-bars:hover {
  color: #fff;
}

.fa-box {
  background-color: #fff;
  width:37px;
  height:37px;
  border-radius:5px;
}

.fa-box:hover {
  background: #001845;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius:7.5px;
}

.fa-times {
  color: #fff;
  font-size: 27px;
  transform: translate(-75%, 27%);
}

.NavbarItems {
  position: relative;
}

.navbar-light .navbar-nav .nav-link {
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
  color:#001845;
}

.navbar-light .navbar-nav .nav-link:active {
  color:#001845;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #001845;
}

.dropdown-item {
  text-decoration: none;
  color: #001845;
  font-size: 18px;
}

.dropdown-item:hover {
  text-decoration: none;
  color: #fff;
  background-color: #001845;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #0466C8;
}

.dropdown-toggle::after {
  display: inline-block;
  width: .5em;
  height: .5em;
  margin: -.3em 0 0 .4em;
  vertical-align: middle;
  content: "";
  border: .3em solid;
  border-width: 0 .13em .13em 0;
  transform: rotateZ(45deg)
}

@media screen and (max-width: 480px) {
  .nav-large {
    width: 81px;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-29%, 35%);
    font-size: 0rem;
    cursor: pointer;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: 64px;
    left: -100%;
    font-size: 20px;
    opacity: 1;
    transition: all 0.5s ease;
    padding-bottom: 2rem;
    padding-top: 2rem;
    justify-content: center;
  }
  
  .nav-menu.active {
    background: #0466C8;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .nav-large {
    max-width: 81px;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-29%, 35%);
    font-size: 0rem;
    cursor: pointer;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: 64px;
    left: -100%;
    font-size: 20px;
    opacity: 1;
    transition: all 0.5s ease;
    padding-bottom: 2rem;
    padding-top: 2rem;
    justify-content: center;
  }
  
  .nav-menu.active {
    background: #0466C8;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  
}