@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box:hover{
  box-shadow: 10px 5px 5px rgba(0, 18, 51, .5);
}

.box-img {
  border-radius: 5px;
}

.box-link:hover {
  color: #979DAC;
}

.vol-img {
  border-radius: 5px;
  width: 250px;
  height: 250px;
}

/* Mobile Devices */
@media screen and (max-width: 480px) {
  
  .box {
    border-radius: 10px;
    color: #fff;
    background-color: #023E7D;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
  }

  .box-link {
    color: #fff;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 300;
    line-height: 35px;
  }
  
  .box-header {
    border-radius: 10px;
    background-color: #023E7D;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
  }

  .box-tag{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 35px;
    color: #FFFFFF;
  }
  
  .heading {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.03em;
    color: #023E7D;
  }

  .heading-large {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #023E7D;
  }

  .hero-header{
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 154.5%;
    color: #001233;
  }
  
  .hero-header-link{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 154.5%;
    text-decoration-line: underline;
    color: #0466C8;
  }
  
  .hero-subtext{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    color: #001233;
  }
  
  .hero-subtext-link{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 154.5%;
    text-decoration-line: underline;
    color: #0466C8;
  }

  .caption {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.03em;
    color: #023E7D;
  }
}

/* Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  
  .box {
    border-radius: 10px;
    color: #fff;
    background-color: #023E7D;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
  }

  .box-link {
    color: #fff;
    text-decoration: underline;
    font-size: 15px;
    font-weight: 300;
    line-height: 35px;
  }

  .box-header {
    border-radius: 10px;
    background-color: #023E7D;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
  }

  .box-tag{
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 35px;
    color: #FFFFFF;
  }

  .heading {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.03em;
    color: #023E7D;
  }

  .heading-large {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 33px;
    letter-spacing: 0.03em;
    color: #023E7D;
  }

  .hero-header{
    font-style: normal;
    font-weight: 300;
    font-size: 27px;
    line-height: 154.5%;
    color: #001233;
  }

  .hero-header-link{
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 154.5%;
    text-decoration-line: underline;
    color: #0466C8;
  }

  .hero-subtext{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #001233;
  }
  .hero-subtext-link{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 154.5%;
    text-decoration-line: underline;
    color: #0466C8;
  }

  .caption {
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.03em;
    color: #023E7D;
  }
}

/* Small screens, laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  
  .box {
    border-radius: 10px;
    color: #fff;
    background-color: #023E7D;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
  }

  .box-link {
    color: #fff;
    text-decoration: underline;
    font-size: 15px;
    font-weight: 300;
    line-height: 35px;
  }

  .box-header {
    border-radius: 10px;
    background-color: #023E7D;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
  }

  .box-tag{
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 35px;
    color: #FFFFFF;
  }

  .heading {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.03em;
    color: #023E7D;
  }

  .heading-large {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 33px;
    letter-spacing: 0.03em;
    color: #023E7D;
  }

  .hero-header{
    font-style: normal;
    font-weight: 300;
    font-size: 33px;
    line-height: 154.5%;
    color: #001233;
  }

  .hero-header-link{
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 154.5%;
    text-decoration-line: underline;
    color: #0466C8;
  }

  .hero-subtext{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #001233;
  }

  .hero-subtext-link{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 154.5%;
    text-decoration-line: underline;
    color: #0466C8;
  }

  .caption {
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.03em;
    color: #023E7D;
  }
}

/* Desktops and large screens */
@media screen and (min-width: 1025px) {

  .box {
    border-radius: 10px;
    color: #fff;
    background-color: #023E7D;
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
  }

  .box-link {
    border-radius: 10px;
    color: #fff;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
  }
  
  .box-header {
    border-radius: 10px;
    background-color: #023E7D;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
  }

  .box-tag{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 35px;
    color: #FFFFFF;
  }

  .heading {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #023E7D;
  }

  .heading-large {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.03em;
    color: #023E7D;
  }

  .hero-header{
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 154.5%;
    color: #001233;
  }
  
  .hero-header-link{
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 154.5%;
    text-decoration-line: underline;
    color: #0466C8;
  }
  
  .hero-subtext{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    color: #001233;
  }
  
  .hero-subtext-link{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 154.5%;
    text-decoration-line: underline;
    color: #0466C8;
  }

  .caption {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #023E7D;
  }
}
